
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
  background: linear-gradient(135deg, #3494e6, #ec6e68);
  background-size: 400% 400%;
  animation: GradientAnimation 15s infinite alternate;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}

h1 {
  text-align: center;
  color: #333;
  font-size: 47px;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #d32f2f;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
